#!/bin/bash

export AWS_ACCESS_KEY_ID=AKID1234567890DEADBEEF
export AWS_SECRET_ACCESS_KEY=MY-SECRET-KEY
export AMI="ami-f95ef58a" #Ubuntu Trusty 14.04 64-bit
export KEYPATH="/Users/you/.ssh/rsa_id"
export VPC_ID="vpc-13131313"
export SUBNET_ID="subnet-13131313"
export DISK="20"
export REGION="eu-west-1"
export KEYSTORE_TYPE="t2.small"
export MASTER_TYPE="t2.small"
export NODE_TYPE="t2.medium"